body{
    overflow-x: hidden;
    background : linear-gradient(to bottom, black , rgb(27,27,27), rgb(43,43,43), black )
}
.color-darkgrey{
    background-color: rgb(76, 76, 76);
}
.about{
    background-image: url(../Images/aboutBgc);
    background-size: cover;
}
.about-color{
    background-color: rgb(220 245 252)
}
*{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.word-expand:hover{
    font-size:larger;
}
.btn-expand{
    background-color: rgb(159, 214, 237);
    border: 1px rgb(248, 237, 217) solid;
    border-radius: 25px;
    padding: 0.75% 1.5%;

}
.btn-expand:hover{
    padding: 1% 2%;
}